*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: "Inter", sans-serif;
    
  
}
.main-contain{
    width: 100%;
    height: auto;
}
.nav{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    background-color: rgb(26,26,26);
}

.nav ul{
    width: 50%;
    height: 70px;
    display: flex;
    padding-block: 30px;
}
.nav ul li{
    list-style: none;
    padding-inline: 20px;
    color: white;
    font-size: 15px;
}
.nav ul li i{
    padding-inline: 10px;
}
.nav button{
    width: 8%;
    height: 40px;
    background-color: transparent;
    color: white;
    border-radius: 10px;
}
/* hero */

.hero-section{
    width: 100%;
    height: auto;
    display: flex;
    
    background-image: url(./assets/bg-pattern-wave.png);

}
.section1{
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.section2{
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.section2 img{
    width: 70%;
}
.section1 h3{
    font-size: 50px;
    color: white;
    text-align: start;
    font-weight: 500px;
    padding-right: 100px;

}
.section1 p{
    font-size: 30px;
    color: white;
    margin-top: 10px;
    padding-right: 10px;
   
}

.section1 span input{
    width: 350px;
    height: 50px;
    padding-left: 30px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid rgb(12, 12, 12);
    margin-top: 10px;
    
}
.section1 span button{
    width: 200px;
    height: 50px;
    background-color: rgba(16, 116, 216, 0.862);
    border: none;
    color: white;
    border-radius: 4px;

}
.section1 a{
    margin-top: 20px;
   
    padding-right: 400px;
    list-style: none;
    color: white;
    text-decoration: none;
    font-size: 18px;
   
}
.slide{
    width: 100%;
    height: 500px;
}
.slide h3{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 30px;
    font-size: 40px;
}
.slide ul{
 
    color: white;
   
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-inline: 30px
    ;
}
#color{
    width: 5%;
    background-color: blue;
    color: white;
}
.slide ul button{
    width: 140px;
    height: 40px;
    border-radius: 4px;

}
.box-section{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-inline: 50px;
    padding-block: 50px;
    background-color: rgba(250, 249, 247, 0.948);
}
.box{
    width: 30%;
    height: 200px;
    border-radius: 5px;
    border: 1px solid rgba(237, 229, 229, 0.732) ;
}
.box img{
    width: 100%;
}
.box p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
/* 3 */

.container{
    width: 100%;
    height: auto;
    display: flex;
    
}
.form-section{
    width: 50%;
    height: auto;
    display: flex;
    align-items: start;
    justify-content: center;
     flex-direction: column;
    padding-inline: 20px;
    margin-top: 30px;

    

}
.form-section h3{
    font-size: 40px;
    padding-inline-start: 20px;
    
}

.img-section{
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}
.img-section img{
    width: 80%;
}
.form-section p{
    font-size: 18px;
    margin-top: 10px;
    line-height: 1.5;
    

}
.form-section button{
    width: 40%;
    height: 50px;
    border-radius: 5px;
    background-color: rgba(25, 115, 241, 0.937);
    color: white;
    font-size: 18px;
    margin-top: 20px;
    
}
/* 3 end */

/* 4 start */

.contain{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 50px;
}
.container1{
    width: 80%;
    height: auto;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 10px;
    padding-block: 40px;
}

/* 5 start */
.cards{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-block: 40px;
    padding-inline: 40px
    ;
}

.container2{
    width: 40%;
    height: auto;
    background-color: black;
    color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container2 img{
    width: 60%;
    height: auto;
    margin-bottom: 60px;
    padding-block: 20px;
}
.container2 h3{
    font-size: 35px;
   
}
.container2 p{
    font-size: 18px;
    margin-top: 10px;
    line-height: 1.5;
    padding-inline: 10px;
    

}
.container2 button{
    width: 40%;
    height: 50px;
    border-radius: 5px;
    background-color: rgba(25, 115, 241, 0.937);
    color: white;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 30px;
    
}

.container4{
    width: 100%;
    height: auto;
   
    display: flex;
   
}
.container5{
    width: 100%;
    height: auto;
   
    display: flex;
   
}
.contain3{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 50px;
}
.container6{
    width: 80%;
    height: auto;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 10px;
    padding-block: 40px;
}

/* footer */
.footer1{
    width: 100%;
    height: auto;

}

.footer{
    width: 100%;
    height: auto;
   display: flex;
   align-items: flex-start;
   justify-content: space-evenly;
   background-color: black;
    color: rgb(197, 190, 190);
   
   
    padding-block: 40px;

    
   
    
   
    
    
}
.footer  i{
    display: none;
}
.footer ul{
    
    list-style: none;
    line-height: 1.5;
    font-size: 20px;

}
.footer ul h5{
    color: transparent;
}
.footer ul li{
    font-size: 15px;
    margin-top: 10px;
}
.line{
    width: 80%;
    height: 1px;
    color: white;
}

.footer-last{
    width: 100%;
    height: 100px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 20px;
}
.footer-last p{
    font-size: 15px;
    padding-block: 10px;
    
}






/* Responsive code */

@media (max-width: 768px) {
    .main-contain{
        width: 100%;
        height: auto;
        background-size: cover;
        background-position: center; 
        position: relative;
    
    }
    .nav{
        width: 100%;
        height: 70px;
    
        display: flex;
        align-items: center;
        justify-content: space-evenly;

    }
    .nav img{
        width: 25%;
        /* height: 90px; */

    }
    .nav ul{
        display: none;
    }
    .nav button{
        width: 20%;
        height: 40px;
        
    }
    .hero-section{
        width: 100%;
        height: auto;
        background-position: cover;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction:column-reverse;
        text-align: center;
    }
    .section1{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        text-align: center;
       
    }
    .section2{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .section1 span input{
        width: 350px;
        height: 50px;
        padding-left: 30px;
        border-radius: 4px;
        background-color: white;
        border: 1px solid rgb(12, 12, 12);
        margin-top: 10px;
        
    }
    .section1 span button{
        width: 200px;
        height: 50px;
        background-color: rgba(16, 116, 216, 0.862);
        border: none;
        color: white;
        border-radius: 4px;
        margin-top: 10px;
    
    }
    .section2 img{
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .section1 h3{
        font-size: 30px;
        color: white;
        text-align: center;
        font-weight: 500px;
        padding: 0;
    }
    .section1 p{
        font-size: 30px;
        color: white;
        margin-top: 10px;
        padding-right: 0;
       
    }
    .section1 a{
        width: 100%;
        margin-top: 20px;
        color: white;
        text-decoration: none;
        font-size: 18px;
        text-align: center;
        padding: 0;
       
    }
    .slide{
        width: 100%;
        height: auto;
    }
    .slide h3{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-block: 30px;
        font-size: 40px;
    }
    .slide ul{
        width: 100%;
        color: white;
       /* flex-wrap: wrap; */
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        padding-inline: 30px
        ;
    }
    #color{
        width: 70%;
    }
    .slide ul button{
        width: 70%;
        height: 40px;
        border-radius: 4px;
    
    }
    .box-section{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        gap: 10px;
        padding-inline: 50px;
        padding-block: 50px;
        background-color: rgba(250, 249, 247, 0.948);
    }
    .box{
        width: 80%;
        height: auto;
        border-radius: 5px;
        border: 1px solid rgba(237, 229, 229, 0.732) ;
    }
    .box img{
        width: 100%;
    }
    .box p{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
    }
    /* 3 */

.container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    
}
.form-section{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    margin-top: 20px;
    padding-inline: 20px;
    
    

}
.form-section h3{
    font-size: 40px;
    
    text-align: center;
    
}

.img-section{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;

    justify-content: center;
    padding-block: 20px;

}
.img-section img{
    width: 80%;
}
.form-section p{
    font-size: 20px;
    margin-top: 10px;
    line-height: 1.5;
    padding-inline: 20px;
    align-items: center;
    

}
.form-section button{
    width: 60%;
    height: 60px;
    border-radius: 5px;
    background-color: rgba(25, 115, 241, 0.937);
    color: white;
    font-size: 16px;
    /* margin-top: 20px; */
    
}
.contain{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    

    padding-block: 20px;
}
.container1{
    width: 80%;
     height: auto;
     background-color: black;
     display: flex;
     flex-direction: column-reverse; 
    color: white;
    border-radius: 10px;
}
.cards{
    width: 100%;
    height: auto;
    display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    
    /* padding-block: 40px; */
    padding-inline: 40px
    ;
}

.container2{
    width: 90%;
    height: auto;
    background-color: black;
    color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 30px;
    margin-top: 30px;
    
}
.container2 img{
    width: 80%;
    height: 500px;
    margin-bottom: 80px;
    padding-block: 20px;
}
.container2 h3{
    font-size: 35px;
}
.container2 p{
    font-size: 18px;
    margin-top: 20px;
    line-height: 1.5;
    padding-inline: 20px;
    

}
.container2 button{
    width: 60%;
    height: 60px;
    border-radius: 5px;
    background-color: rgba(25, 115, 241, 0.937);
    color: white;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 30px;
    
}

.container4{
    width: 100%;
    height: auto;
   
    display: flex;
    flex-direction: column-reverse;


   
}
.container5{
    width: 100%;
    height: auto;
   
    display: flex;
    /* align-items: center;
    justify-content: center; */
    flex-direction: column;
   
}
.contain3{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 50px;
    padding-inline: 10px;
}
.container6{
    width: 80%;
    height: auto;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    color: white;
    border-radius: 10px;
    padding-block: 40px;
    
}


/* footer */
.footer1{
    width: 100%;
    height: auto;
    background-color: black;
    color: rgb(247, 240, 240);
    
}
.footer{
    width: 100%;
    height: auto; 
    background-color: rgb(17, 13, 13);
    color: rgb(247, 240, 240);
    /* display: flex; */
    flex-wrap: wrap;
 

    
}
.footer ul{
    width: 100%;
    height: auto;
    padding-block: 30px;
    list-style: none;
    line-height: 1.5;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 20px;
    

}
.footer ul h5{
    display: none;

}
.footer ul li{
    
    display: none;
}
.footer i{
    display: inline;
}
.line{
    width: 100%;
    height: 1px;
    color: white;
}

.footer-last{
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap-reverse;
    padding-block: 20px;
}
.footer-last p{
    font-size: 12px;
    line-height: 1.5;
    
   
    
}


    
}


